/*
* {
	box-sizing: border-box;
}

body {
	font-family: serif;
	text-align: left;
	padding-top: 0;
}

.title {
	text-align: left;
	font-size: 120%;
}

a {
	color: black;
}
*/

        * {
            box-sizing: border-box;
	}
	@media print {
	    body { width: 85%; margin: 0; }
	}
	@media screen and (width >= 800px) {
	    body { width: 70%; }
	}
	@media screen and (width < 800px) {
	    body { width: 90%; margin: 1em; }
	}
        body {
            padding: 0;
            margin: 1em;
            font-family: sans-serif;
	    background-color: lightgoldenrodyellow;
        }
        /*
		p {
			font-size: 0.8em;
        }
        */
		hr {
    		border: 0;
    		border-bottom: 1px black solid;
    		background: black;
        }
        /*
		li {
			font-size: 0.8em;
        }
        */
        a {
            color: #dd6600;
		}
		#postamble {
			font-size: 0.6em;
		}
		h1, h2, h3, h4, h5, h6 {
			color: black;
			font-size: 1em;
			padding: 0;
		}
		h1 {
			font-weight: 600;
			font-size: 1.1em;
		}
		h2 {
			font-weight: 600;
			font-size: 1.0em;
		}
		h3, h4, h5, h6 {
			font-weight: 500;
			font-size: 0.9em;
		}
		.title {
			text-align: left;
			color: black;
		}
		.title > b {
			color: #dd6600;
		}
		.subtitle {
			text-align: left;
			font-weight: 600;
		}
		.subtitle > b {
			color: #dd6600;
		}
        #main {
            position: fixed;
            left: 1em;
            right: 1em;
            bottom: 1em;
        }
        h1 {
            padding: 0;
            margin: 0;
            font-size: 1em;
            font-weight: 600;
            letter-spacing: 1em;
            color: #dd6600;
        }
        header > .em {
            color: #000000
        }
        #banner-text {
            font-size: 0.8em;
        }
        #content {
            margin-top: 1em;
        }
        #content > .left {
            float: left;
            width: 300px;
        }
        #content > .left > img {
            width: 300px;
            height: 300px;
        }
        #content > .left > #copyright {
            font-size: 0.6em;
            padding: 0;
            float: right;
            margin: 0;
            line-height: 0;
            color: #dd6600;
        }
        #content > .right {
            float: left;
            font-size: 0.8em;
            width: 300px;
        }
        #content > .right > ul {
            list-style: none;
            margin-left: 1em;
            margin-top: 1px;
            padding: 0;
        }
        #content > .right > ul > li:first-of-type {
            border-top: 1px #dd6600 solid;
        }
        #content > .right > ul > li {
            padding: 0.5em;
            width: 100%;
            border-bottom: 1px #dd6600 solid;
        }
        .list-button {
            width: 100%;
        }
